body {
  font-family: Arial, sans-serif;
  max-width: 600px;
  margin: 30px auto;
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 10px;
}
input{
    margin-bottom: 10px;
    font-size: 22px;
}

h1, h2 {
  text-align: center;
  color: #333;
}

td{
    font-size: 22px;
}

.btn-excluir-moderno {
  background: #c82333;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
}


